.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 600px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 10px; /* Cambia según tus preferencias */
}

.input-container {
  margin-bottom: 20px;
}

.input-control {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.signin-button {
  text-align: end;
  background-color: black;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

/* Estilos para el tema oscuro */
.dark-theme .login-box {
  border: 6px solid rgba(255, 255, 255, 0.384);
  border-radius: 10px;
}

.dark-theme .login-box-dark {
  border: 12px solid white;
}

/* Estilos para el tema claro */
.light-theme .login-box {
  border: 6px solid rgb(0, 0, 0);
  border-radius: 10px; /* Cambia según tus preferencias */
}