.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  border: 3px solid gray;
  border-radius: 10px;
  width: 600px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box-dark {
  border: 1px solid white;
}

.input-container {
  margin-bottom: 20px;
}

.form-control {
  font: inherit;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid gainsboro;
  width: 20rem;
  max-width: 100%;
}

.signin-button {
  text-align: end;
  background-color: black;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

.login-box-dark {
  border: 1px solid white;
}
