@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inika", serif;
}
/* App */
.App {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dark-theme {
  background-color: #212529;
  color: white;
  height: 100%;
}
