@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inika", serif;
}
/* App */
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.dark-theme {
  background-color: black;
  color: white;
  height: 100vh;
}
